<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head><title>Каталог</title></head>
<body>
<div layout:fragment="content">
    <h2 class="mb-4" th:text="#{home.header}">Каталог товаров</h2>
    <div sec:authorize="hasAuthority('ADMIN')"
         class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary" th:href="@{/admin/products/new}" th:text="#{home.button.addProduct}">Добавить
            товар</a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="p : ${pageDto.products}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${p.name}">Название</h5>
                    <p class="card-text" th:text="${p.description}">описание</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span class="fw-bold" th:text="${#numbers.formatDecimal(p.price,0,'POINT',2,'COMMA')}">0.00</span>

                    <!--                    <p th:class="${p.stockQty > 0} ? 'text-success' : 'text-danger'"-->
                    <!--                       th:text="${p.stockQty > 0} ? 'In stock: ' + ${p.stockQty} : 'Out of stock'"></p>-->

                    <button class="btn btn-sm btn-outline-primary"
                            th:disabled="${p.stockQty == 0}"
                            th:data-id="${p.id}"
                            th:onclick="if (isAuth) { addToCart(this); } else { window.location='[[ @{/login} ]]'; }"
                            th:text="#{home.button.addToCart}">В корзину
                    </button>

                    <div sec:authorize="hasAuthority('ADMIN')" class="ms-2">

                        <a th:href="@{/admin/products/{id}/edit(id=${p.id})}"
                           class="btn btn-sm btn-outline-secondary"
                           th:text="#{home.button.edit}">Редактировать</a>

                        <button class="btn btn-sm btn-outline-danger"
                                th:data-id="${p.id}"
                                th:onclick="deleteProduct(this)"
                                th:text="#{home.button.delete}">Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <nav th:if="${pageDto.totalPages > 1}" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pageDto.currentPage == 1} ? 'disabled'">
                <a class="page-link bg-dark text-white border-secondary" th:href="@{/(page=${pageDto.currentPage-1})}"><</a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, pageDto.totalPages)}"
                th:classappend="${i == pageDto.currentPage} ? 'active'">
                <a class="page-link bg-dark text-white border-secondary" th:href="@{/(page=${i})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${pageDto.currentPage == pageDto.totalPages} ? 'disabled'">
                <a class="page-link bg-dark text-white border-secondary" th:href="@{/(page=${pageDto.currentPage+1})}">></a>
            </li>
        </ul>
    </nav>

    <script th:inline="javascript">

        var isAuth = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;

        function updateCartBadge() {
            console.log('updateCartBadge called');
            const badge = document.getElementById('cartCountBadge');
            if (!badge) return;

            let count = parseInt(badge.textContent) || 0;
            badge.textContent = count + 1;
            badge.style.display = 'inline-block';
    }

        function addToCart(btn) {
            if (!isAuth) {
                window.location = '[[ @{/login} ]]';
                return;
            }
        const id = btn.dataset.id;
        const defaultText    = btn.textContent.trim();
        const defaultClasses = btn.className;

        fetch(`/online-shop/cart/${id}`, {
            method: 'POST',
            headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
        .then(r => {
            if (!r.ok) throw new Error('Не удалось добавить в корзину');
            btn.className   = defaultClasses.replace('btn-outline-primary','btn-success');
            btn.textContent = 'Added';

            console.log('after addToCart fetch, calling updateCartBadge');
            updateCartBadge();

            setTimeout(() => {
                btn.className   = defaultClasses;
                btn.textContent = defaultText;
            }, 1300);
        })
        .catch(console.error);
    }

        function deleteProduct(btn){
        if (!confirm('Delete product?')) return;
        const id = btn.dataset.id;
        fetch(`/online-shop/admin/products/${id}`, {method:'DELETE'})
            .then(r => { if(r.ok) location.reload(); });
    }
    </script>

</div>
</body>
</html>