<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">MyShop</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Shop</a>

        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/orders}" th:text="#{layout.orders}">Заказы</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link position-relative" th:href="@{/cart}">
                    <i class="bi bi-basket"></i>
                    <span class="position-absolute top-0 start-100 translate-middle
                 badge rounded-pill bg-danger"
                          th:if="${session.cartCount > 0}"
                          th:text="${session.cartCount}">0</span>
                </a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="langDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <span th:switch="${#locale.language}">
                        <span th:case="'ru'" th:text="#{layout.lang.ru}">Русский</span>
                        <span th:case="'en'" th:text="#{layout.lang.en}">English</span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                    <li>
                        <a class="dropdown-item"
                           th:href="@{/changeLanguage(lang='ru')}"
                           th:text="#{layout.lang.ru}">Русский</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           th:href="@{/changeLanguage(lang='en')}"
                           th:text="#{layout.lang.en}">English</a>
                    </li>
                </ul>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/changeLanguage(lang='ru')}" th:text="#{layout.lang.ru}">Русский</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" th:href="@{/changeLanguage(lang='en')}" th:text="#{layout.lang.en}">English</a>-->

            <!--            </li>-->

            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}" th:text="#{layout.login}">Login</a>
            </li>

            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/register}" th:text="#{layout.register}">Register</a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}" th:text="#{layout.logout}">Logout</a>
            </li>

        </ul>
    </div>
</nav>

<main class="container my-4" layout:fragment="content"></main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>