<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title" th:text="#{orders.title}">Мои заказы</title>
</head>
<body>
<main layout:fragment="content" class="container my-4">

    <h2 th:text="#{orders.header}">Мои заказы</h2>

    <div th:if="${pageDto.orders.isEmpty()}">
        <p th:text="#{orders.empty}">У вас ещё нет оформленных заказов.</p>
    </div>

    <div th:each="order : ${pageDto.orders}">
        <div class="card mb-4">
            <div class="card-header">
                <strong>
                    <span th:text="#{orders.label.orderNumber}"></span>
                    <span th:text="${order.id}"></span>
                </strong>,
                <span th:text="#{orders.label.date}"></span>
                <span th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <div class="card-body p-0 border border-2">
                <table class="table table-striped mb-0">
                    <thead class="table-light">
                    <tr>
                        <th th:text="#{orders.column.name}">Наименование</th>
                        <th class="text-center" th:text="#{orders.column.quantity}">Количество</th>
                        <th class="text-end" th:text="#{orders.column.price}">Цена ₸/шт.</th>
                        <th class="text-end" th:text="#{orders.column.sum}">Сумма ₸</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${order.items}">
                        <td th:text="${item.productName}">Наименование товара</td>
                        <td class="text-center" th:text="${item.quantity}"></td>
                        <td class="text-end"
                            th:text="${#numbers.formatDecimal(item.price, 2, 2, 'COMMA')}">
                        </td>
                        <td class="text-end"
                            th:text="${#numbers.formatDecimal(item.price * item.quantity, 2, 2, 'COMMA')}">
                        </td>
                    </tr>
                    </tbody>
                    <tfoot class="table-light">
                    <tr>
                        <td colspan="3" class="text-end fw-bold" th:text="#{orders.footer.total}">Итого:</td>
                        <td class="text-end fw-bold"
                            th:text="${#numbers.formatDecimal(order.total, 2, 2, 'COMMA')}">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <nav th:if="${pageDto.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pageDto.currentPage == 1} ? 'disabled'">
                <a class="page-link bg-dark text-white border-secondary"
                   th:href="@{/orders(page=${pageDto.currentPage - 1})}"
                   tabindex="-1"><</a>
            </li>

            <li class="page-item"
                th:each="pageNum : ${#numbers.sequence(1, pageDto.totalPages)}"
                th:classappend="${pageNum == pageDto.currentPage} ? 'active'">
                <a class="page-link bg-dark text-white border-secondary"
                   th:href="@{/orders(page=${pageNum})}"
                   th:text="${pageNum}">1</a>
            </li>

            <li class="page-item" th:classappend="${pageDto.currentPage == pageDto.totalPages} ? 'disabled'">
                <a class="page-link bg-dark text-white border-secondary"
                   th:href="@{/orders(page=${pageDto.currentPage + 1})}">></a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>
